* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 25px;
    font-family: 'Brush Script MT', cursive;
}

.thebuttons {
    text-align: center;
    padding-bottom: 20px;

}

.container {
    margin: auto;
    width: 700px;
    aspect-ratio: 1 / 1;
    background-color: black;
}

.row {
    display: flex;
}

.item {
    margin: 1px;
    background-color: antiquewhite;
}